@using omdedaran.Models;
@using omdedaran.OtherModels;
@using PagedList.Mvc;
@using PagedList;

@model omdedaran.OtherModels.blogclass 
@{
    ViewBag.Title = "اطلاعیه ها- عمده داران";
    Layout = "~/Views/Master/Master.cshtml";
     
    DataClass  tbt = new DataClass();
    int count = 0;
    string NamePage, Valuepage;
    NamePage = ViewData["NamePage"].ToString();
    Valuepage = ViewData["Valuepage"].ToString();
}




<!-- CONTENT AREA -->
<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs">
        <div class="container">
            <div class="page-header">
                @if (NamePage == "post")
                {
                    <h1>اطلاعیه ها</h1>
                }
                else if (NamePage == "Categories")
                {
                    <h1>دسته بندی</h1>
                    <h4>@Valuepage</h4>
                }
                else if (NamePage == "tag")
                {
                    <h1>برچسب</h1>
                    <h4>@Valuepage</h4>
                }
                else if (NamePage == "Search")
                {
                    <h1>جست و جو </h1>
                    <h4>@Valuepage</h4>
                }

                <br>
            </div>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE WITH SIDEBAR -->
    <section class="page-section with-sidebar">
        <div class="container">
            <div class="row">
                <!-- SIDEBAR -->
                <aside class="col-md-3 sidebar" id="sidebar">
                    <!-- widget search -->
                    <div class="widget">
                        <div class="widget-search">
                            <form action="/MS/blog?NamePage=Search&page=1" method="post">
                                <input class="form-control" type="text" id="Valuepage" name="Valuepage" placeholder="Search" required>
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- /widget search -->
                    <!-- widget tabs -->
                    <div class="widget widget-tabs alt">
                        <div class="widget-content">
                            <ul id="tabs" class="nav nav-justified">
                                <li><a href="#tab-s1" data-toggle="tab">جدید ترین ها</a></li>
                                <li class="active"><a href="#tab-s2" data-toggle="tab">محبوب ترین ها</a></li>
                            </ul>
                            <div class="tab-content">
                                <!-- tab 1 -->
                                <div class="tab-pane fade" id="tab-s1">
                                    <div class="recent-post">
                                        @foreach (var player in Model.TabS1)
                                        {

                                            <div class="media">
                                                <a class="pull-right media-link" href="#">
                                                    <img class="media-object" style="width: 100%;" src="@player.PicAddress" alt="@player.Title">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                                <div class="media-body">
                                                    <div class="media-meta">
                                                        @player.Date
                                                        <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>@player.Comments</a>
                                                    </div>
                                                    <h4 class="media-heading"><a href="#">@player.Title</a></h4>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <!-- tab 2 -->
                                <div class="tab-pane fade in active" id="tab-s2">
                                    <div class="recent-post">
                                        @foreach (var player in Model.TabS2)
                                        {
                                            <div class="media">
                                                <a class="pull-right media-link" href="#">
                                                    <img class="media-object" style="width: 100%;" src="@player.PicAddress" alt="@player.Title">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                                <div class="media-body">
                                                    <div class="media-meta">
                                                        @player.Date
                                                        <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>@player.Comments</a>
                                                    </div>
                                                    <h4 class="media-heading"><a href="#">@player.Title</a></h4>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>

                            </div>
                            <a class="btn btn-theme btn-theme-transparent btn-theme-sm btn-block" href="#">محصولات بیشتر</a>
                        </div>
                    </div>
                    <!-- /widget tabs -->
                    <!-- widget archives -->
                    <div class="widget shop-categories">
                        <h4 class="widget-title">دسته بندی</h4>
                        <div class="widget-content">
                            <ul>
                                <li>
                                    @foreach (var player in Model.BLOG_Categories)
                                    {
                                        <a href="@Url.Action("blog","MS" ,new {NamePage = "Categories", Valuepage= @player.name , page = 1 })">@player.name<span class="count"> @player.count   </span></a>
                                        <hr />
                                    }
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- /widget archive -->
                    <!-- widget tag cloud -->
                    <div class="widget widget-tag-cloud">
                        <a class="btn btn-theme btn-title-more" href="#">مشاهده همه</a>
                        <h4 class="widget-title"><span>برچسب ها</span></h4>
                        <ul>
                            @foreach (var player in Model.BLOG_Tags)
                            {
                                <li><a href="@Url.Action("blog","MS" ,new {NamePage = "tag", Valuepage= @player.name , page = 1 })">@player.name</a></li>
                            }

                        </ul>
                    </div>
                    <!-- /widget tag cloud -->

                </aside>
                <!-- /SIDEBAR -->
                <!-- CONTENT -->

                 

                 
                <div class="col-md-9 content" id="content">

                    <!-- Blog posts-->
                    <!-- / -->
                    <article class="post-wrap">

                        @foreach (var item in Model.BLOG)
                        {
                            count = tbt.Pic_BLOG(item.Id).Count;

                            <div class="post-media">

                                @if (count == 1)
                                {
                                    foreach (var player in tbt.Pic_BLOG(item.Id))
                                    {
                                        <div class="item">
                                            <a href="@player.PicAddress" data-gal="prettyPhoto"><img class="img-responsive" src="@player.PicAddress" alt="@item.Title" /></a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="owl-carousel img-carousel">
                                        @foreach (var player in tbt.Pic_BLOG(item.Id))
                                        {
                                            <div class="item">
                                                <a href="@player.PicAddress" data-gal="prettyPhoto"><img class="img-responsive" src="@player.PicAddress" alt="@item.Title" /></a>
                                            </div>
                                        }
                                    </div>
                                }



                            </div>
                            <div class="post-header">
                                <h2 class="post-title"><a href="#"> @Html.DisplayFor(modelItem => item.Title)</a></h2>
                                <div class="post-meta">نویسنده: <a href="#">  @Html.DisplayFor(modelItem => item.WrittenBy_AdminId)</a> / @Html.DisplayFor(modelItem => item.Date) / دسته بندی : <a href="@Url.Action("blog","MS" ,new {NamePage = "Categories", Valuepage=  item.Cat_Id , page = 1 })">@Html.DisplayFor(modelItem => item.Cat_Id)</a> /نظرات <a>@Html.DisplayFor(modelItem => item.Comments) </a></div>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">
                                    <p>@Html.DisplayFor(modelItem => item.Text_min)</p>
                                </div>
                            </div>
                            <div class="post-footer">
                                <span class="post-read-more"><a href="#" class="btn btn-theme btn-theme-transparent btn-icon-left"><i class="fa fa-file-text-o"></i>بیشتر</a></span>
                            </div>

                        }

                    </article>
                    <!-- / -->
                    <!-- /Blog posts -->
                    <!-- Pagination -->
                    <div class="pagination-wrapper">
                        @if (NamePage == "post")
                        {
                            @Html.PagedListPager((IPagedList)Model.BLOG, page => Url.Action("blog", new { NamePage = NamePage, page = page }))

                        }
                        else
                        {
                            @Html.PagedListPager((IPagedList)Model.BLOG, page => Url.Action("blog", new { NamePage = NamePage, Valuepage = Valuepage, page = page }))
                        }
                    </div>
                    <!-- /Pagination -->

                </div>
                <!-- /CONTENT -->
                
            </div>
        </div>
    </section>
    <!-- /PAGE WITH SIDEBAR -->


</div>
<!-- /CONTENT AREA -->
